:root {
  --orange: #f15b22;
  --dark: #202020;
}

* {
  font-family: "Work Sans", sans-serif;
  margin: 0;
  padding: 0;
}

/* banner section */

.banner-container {
  background-image: url(../images/banner/banner2.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 15% 10% 15% 65%;
  text-align: right;
  position: relative;
  max-width: 100vw;
  max-height: 100%;
}

.banner {
  height: 100%;
}

.banner-tittle {
  font-weight: 700;
  font-size: 4rem;
  /* 1 rem = 16px */
  text-align: right;
  color: #151414;
  margin-bottom: 25px;
}
.banner-description {
  color: #444343;
  font-weight: 400;
  font-size: 1rem;
  line-height: 26px;
  text-align: right;
}
/* button #f15d22 */
.btn-orange {
  font-size: 1rem;
  text-decoration: none;
  font-weight: 600;
  padding: 20px 25px;
  background: #f15d22;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  margin-top: 30px;
  cursor: pointer;
}
/* Main section */

main {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 35px;
}
/* about person's failure section */
section.about {
  display: flex;
  margin-top: 130px;
  justify-content: center;
  align-items: center;
}
.img-related-text .tittle {
  font-weight: 700;
  font-size: 2.8rem;
  line-height: 47px;
  color: #151414;
}
.img-related-text .sub-tittle {
  font-weight: 700;
  font-size: 2rem;
  color: #151414;
  margin-bottom: 30px;
}
.img-text .about-description {
  color: #444343;
  margin: 1.1rem 0;
}

.img-related-text {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  padding: 150px 100px;
}

.list-item .item {
  list-style: none;
  margin-bottom: 12px;
}

.list-item .item i {
  color: #16d887;
  margin-right: 8px;
}

/* Planning section */

section.my-plans {
  display: flex;
  margin: 60px 0;
  margin-top: 100px;
}
/* This tittle not going at the middle, I can't figure it out*/

section.my-plans .tittle {
  font-weight: 700;
  font-size: 2rem;
  align-content: center;
  align-items: center;
  justify-content: center;
  color: #151414;
  margin-top: 50px;
}

section .my-plans-item {
  display: flex;
  text-align: center;
  gap: 130px;
  margin-top: 120px;
}

.item .to-do {
  font-size: 25px;
  margin-top: 1rem;
  text-align: center;
  justify-content: center;
}

.item .to-achieve {
  font-size: 18px;
  font-weight: 500;
  color: #737272;
  margin-top: 8px;
  text-align: center;
}
/* Call now section */
.call-now {
  background-image: linear-gradient(
      to right,
      #f15b22 0%,
      rgba(241, 91, 34, 0) 100%
    ),
    url("/images/gradient1.png"), url(/images/watch.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 60px 35px;
  text-align: left;
  border-radius: 8px;
  margin: 130px 0;
  position: relative;
}
.call-now .tagline {
  font-weight: 700;
  font-size: 35px;
  color: #ffffff;
}

/* footer section */

.footer-container {
  background: #151414;
  padding: 80px 180px;
  display: flex;
}
.footer-left {
  font-weight: 400;
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 10px;
}

.tittle {
  font-weight: 700;
  font-size: 40px;
  /* line-height: 48px; */
  color: #ffffff;
  margin-bottom: 15px;
}

.footer-left .description {
  max-width: 50%;
  color: #ffffff;
}

.contact-information {
  margin-top: 25px;
  margin-bottom: 25px;
}

.social-icons img {
  padding: 15px;
}
.subscribe-section {
  padding: auto 900px;
}

.subscribe-section h3 {
  color: #ffffff;
  font-weight: 600;
  font-size: 25px;
  /* line-height: normal; */
  margin-bottom: 30px;
}

input[type="email"] {
  background: black;
  color: white;
  padding: 20px 80px 25px 30px;
  border: 1px solid #ffffff;
  border-radius: 6px;
}

/* buttons white*/
.btn-white {
  font-size: 18px;
  text-decoration: none;
  font-weight: bold;
  padding: 20px 25px;
  background: #ffffff;
  color: #f15d22;
  border: none;
  border-radius: 5px;
  margin-top: 30px;
  cursor: pointer;
}
